h1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: rgb(255, 217, 0);
}

img:hover, h3:hover{
    background-color: yellow;
}

#takemetogoogle_button{
    background-color: yellowgreen;
}

#city{
    
    transform: rotate(270deg);
}
#sinju{
    
    transform: rotate(90deg);
}
#fount{
    
    transform: rotate(270deg);
}
.rectangle{
    color: brown;
    margin: 12px;
}

body.sign-body{
    background-color: #0b233d;
}

.container.sign-container{
    margin-top: 10%;
}

.card.sign-card{
    padding: 0px 0px 0px;
    background-color: #ddcaca;
}

.img.sign-img{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 10%;
}

form.sign-Form{
    margin-top: 10px;
    margin-left: 20px;
}

.create-new-account{
    margin-left: 30%;
    margin-top: 20px;
}
.form-check-label {
    margin-bottom: 5px;
}